*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin:30px;
}

.form{
    margin: 10px auto;
    width: 70%;
    border: 1px solid;
    background-color: rgba(161, 201, 218, 0.959);
}

input{
    margin:5px 0px 5px 50px;
    font-size: 15px;
    font-weight: lighter;
    padding:10px;
}
label{
    margin: 10px 0px 50px 50px;
    font-size:  20px;
}

h2{
    margin: 10px 5px 5px 20px;
}

.fullname{
    margin:10px 0px 10px 10px;
}

.birthday{
    margin:10px 0px 10px 10px;
}

.gender{
    margin:10px 0px 10px 10px;
}

.status{
    margin:10px 0px 10px 10px;
}

.submit{
    margin:10px 0px 10px 10px;
    float: right;
}

